# \> Join (2/2)
Найдите город, пользователи которого в возрасте 36 лет 2021-12-01 числа просмотрели запись на тему `covid` меньше всего раз относительно других городов. Введите его название на английском.

In [1]:
import pandas as pd
from db_con import connection

sql_query = """
    select
        u.city
        , count(p.id) as count_views
    from "user" as u
        left join feed_action as fa 
            on u.id = fa.user_id
        left join post as p 
            on fa.post_id = p.id 
    where True
        and u.age = 36
        and cast(fa.time as date) = '2021-12-01'
        and p.topic = 'covid'
    group by u.city
    order by count(p.id)
    limit 1
"""
df = pd.read_sql(
    sql_query,
    con=connection
)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   city         1 non-null      object
 1   count_views  1 non-null      int64
dtypes: int64(1), object(1)
memory usage: 144.0+ bytes

          city  count_views
0  Arkhangelsk            6

In [2]:
df.iloc[0]['city']

'Arkhangelsk'