# \> Сортировка (1/2)
Сейчас мы будем работать с другой таблицей под названием `post`. Найдите в таблице `post` 3 темы с наибольшим количеством постов. Напишите через пробел названия этих тем.

In [1]:
import pandas as pd
from db_con import connection

sql_query = """
    select
        topic
        , count(id) as count_posts
    from post
    group by topic
    order by count(id) desc
    limit 3
"""
df = pd.read_sql(
    sql_query,
    con=connection
)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   topic        3 non-null      object
 1   count_posts  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

   topic  count_posts
0  movie         3000
1  covid         1799
2  sport          510

In [2]:
df['topic']

0    movie
1    covid
2    sport
Name: topic, dtype: object