# \> Join (1/2)
Отберите `post_id`, `time`, `age` и `os` пользователя для всех лайков пользователей из Омска. Отсортируйте результаты по убыванию времени действия и загрузите в LMS первые 100 значений в формате CSV (сепаратор "запятая", колонки с теми же названиями, что и в задании).

In [1]:
import pandas as pd
from db_con import connection

sql_query = """
    select
        p.id as post_id
        , fa.time
        , u.age
        , u.os
    from "user" as u
        left join feed_action as fa 
            on u.id = fa.user_id
        left join post as p 
            on fa.post_id = p.id 
    where True
        and u.city = 'Omsk'
        and fa.action = 'like'
    order by fa.time desc
    limit 100
"""
df = pd.read_sql(
    sql_query,
    con=connection
)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   post_id  100 non-null    int64
 1   time     100 non-null    datetime64[ns]
 2   age      100 non-null    int64
 3   os       100 non-null    object
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 3.2+ KB

   post_id                time  age       os
0     7159 2022-01-26 23:59:54   17  Android
1     7184 2022-01-26 23:56:30   17  Android
2     7265 2022-01-26 23:56:03   17  Android
3     7256 2022-01-26 23:55:24   17  Android
4     7080 2022-01-26 23:55:12   17  Android

In [3]:
df.to_csv('task_15_result.csv', sep=',', index=False)