# \> Сортировка (2/2)
Отберите пользователей из Воронежа (Voronezh) и отсортируйте их по возрасту в убывающем порядке. Для равных возрастов отсортируйте по возрастанию экспериментальной группы.

Напишите ID второго в порядке выдачи пользователя.

In [1]:
import pandas as pd
from db_con import connection

sql_query = """
    select
        id
        , age
        , exp_group
    from "user"
    where True
        and city = 'Voronezh'
    order by 
        age desc
        , exp_group asc
    limit 10
"""
df = pd.read_sql(
    sql_query,
    con=connection
)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         10 non-null     int64
 1   age        10 non-null     int64
 2   exp_group  10 non-null     int64
dtypes: int64(3)
memory usage: 368.0 bytes

      id  age  exp_group
0  89990   71          0
1   2441   71          3
2  14184   66          3
3  35093   65          0
4  77284   64          4

In [2]:
df.iloc[1]['id']

np.int64(2441)