# \> Группировка (1/6)
Подсчитайте средний возраст пользователей в разрезе страны. В ответ напишите средний возраст пользователей из Кипра. Ответ округлите до двух знаков после точки.

In [2]:
import pandas as pd
from db_con import connection

sql_query = """
    select
        country
        , avg(age) as avg_age
    from "user"
    group by country
    having country = 'Cyprus'
"""
df = pd.read_sql(
    sql_query,
    con=connection
)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  1 non-null      object
 1   avg_age  1 non-null      float64
dtypes: float64(1), object(1)
memory usage: 144.0+ bytes

  country    avg_age
0  Cyprus  28.070588

In [3]:
df['avg_age'].round(2)

0    28.07
Name: avg_age, dtype: float64