# \> Группировка (4/6)
Найдите страну с наименьшим числом пользователей среди стран, у которых общее число пользователей больше 1000. Введите ее название на английском.

In [1]:
import pandas as pd
from db_con import connection

sql_query = """
    select
        country
        , count(id) as total_users
    from "user"
    group by
        country
    having count(id) > 1000
    order by count(id)
    limit 1
"""
df = pd.read_sql(
    sql_query,
    con=connection
)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      1 non-null      object
 1   total_users  1 non-null      int64
dtypes: int64(1), object(1)
memory usage: 144.0+ bytes

      country  total_users
0  Azerbaijan         1542

In [2]:
df.iloc[0]['country']

'Azerbaijan'