# \> Группировка (2/6)
Сгруппируйте пользователей сначала по экспериментальной группе, а затем по операционной системе. В каждой группе подсчитайте количество пользователей, максимальный и минимальный возраст.

Сохраните результаты в файл CSV с колонками в следующем порядке: `exp_group`, `os`, `total_users`, `max_age`, `min_age` (обратите внимание на название последних трех колонок!), используя запятую в качестве сепаратора, и отправьте файл в LMS.

In [1]:
import pandas as pd
from db_con import connection

sql_query = """
    select
        exp_group
        , os
        , count(id) as total_users
        , max(age) as max_age
        , min(age) as min_age
    from "user"
    group by 
        exp_group
        , os
"""
df = pd.read_sql(
    sql_query,
    con=connection
)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   exp_group    10 non-null     int64
 1   os           10 non-null     object
 2   total_users  10 non-null     int64
 3   max_age      10 non-null     int64
 4   min_age      10 non-null     int64
dtypes: int64(4), object(1)
memory usage: 528.0+ bytes

   exp_group       os  total_users  max_age  min_age
0          0  Android        21234       95       14
1          0      iOS        11489       79       14
2          1  Android        21232       92       14
3          1      iOS        11406       87       14
4          2  Android        21102       78       14

In [2]:
df.to_csv('task_8_result.csv', index=False)